body{
    background-image: url('https://hitinfrastructure.com/images/site/article_headers/_normal/hospital.jpg');
    background-repeat: no-repeat;
    background-size: 82%;

}
.navigation-bar {
    width: 80%; 
    height: 80px; 
    background-color: aquamarine;
}
.logo {
    display: inline-block;
    vertical-align: top;
    width: 50px;
    height: 50px;
    margin-right: 20px;
    margin-top: 15px; 
}
.navigation-bar > a {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    height: 80px;        
    line-height: 80px;    
    
}

.right{
    float:right;
}

.about{
    float:right;
    
}

.help{
    float:right;
    
}

.signup{
    float:right;
}

.login{
    float:right;
}

.home{
    float:right;
}

.circle{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-left: 38%;
    margin-top: 20%;
    background: red;
    text-align: center;
}

.circle:after{
content: '';
padding-bottom: 100%;
display: block;
}

.alert{
    margin-top: 38%;
    margin-left: 45%;
    font-size: xx-large;
}

.inbox{
    font-size: x-large;
}